In [1]:
import pandas as pd
import numpy as np

In [3]:
features = pd.read_csv("needed_features.csv")

In [4]:
features.head()

,Unnamed: 0,date,start_station_name,start_station_id,city,zip_code,start_hour,mean_temperature_f,mean_humidity,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,weekday,isHoliday,isRushHour
0,0,2013-08-29,Mountain View City Hall,27,Mountain View,94041,10,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
1,1,2013-08-29,Mountain View City Hall,27,Mountain View,94041,9,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
2,2,2013-08-29,Mountain View City Hall,27,Mountain View,94041,9,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
3,3,2013-08-29,Mountain View City Hall,27,Mountain View,94041,10,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
4,4,2013-08-29,Mountain View City Hall,27,Mountain View,94041,22,70.0,72.0,10.0,5.0,0.0,Thursday,0,0

In [13]:
start_stations = features["start_station_name"].unique()
print(len(start_stations))
# There are only 16 uniqure stations => 1-by-16 vector encoding

16

In [20]:
mountain_view_city_hall = [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
mountain_view_caltrain_station = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
evelyn_park_and_ride = [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
castro_street_and_el_camino_real = [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
santa_clara_at_almaden = [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
san_salvador_at_1st = [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
san_jose_civic_center = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
adobe_on_almaden = [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
paseo_de_san_antonio = [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
arena_green_sap_center = [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]
second_at_south_park = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
second_at_townsend = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]
san_francisco_caltrain_2_330_townsend = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
san_francisco_caltrain_townsend_at_4th = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
redwood_city_caltrain_station = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
mezes_park = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [21]:
mapping_dict = {
"Mountain View City Hall" : mountain_view_city_hall, 
"Mountain View Caltrain Station" : mountain_view_caltrain_station, 
"Evelyn Park and Ride" : evelyn_park_and_ride, 
"Castro Street and El Camino Real" : castro_street_and_el_camino_real, 
"Santa Clara at Almaden" : santa_clara_at_almaden, 
"San Salvador at 1st" : san_salvador_at_1st, 
"San Jose Civic Center" : san_jose_civic_center, 
"Adobe on Almaden" : adobe_on_almaden, 
"Paseo de San Antonio" : paseo_de_san_antonio, 
"Arena Green / SAP Center" : arena_green_sap_center, 
"2nd at South Park" : second_at_south_park, 
"2nd at Townsend" : second_at_townsend, 
"San Francisco Caltrain 2 (330 Townsend)" : san_francisco_caltrain_2_330_townsend, 
"San Francisco Caltrain (Townsend at 4th)" : san_francisco_caltrain_townsend_at_4th, 
"Redwood City Caltrain Station" : redwood_city_caltrain_station, 
"Mezes Park" : mezes_park, 
}

In [22]:
features['start_station_name']=features['start_station_name'].map(mapping_dict)

In [23]:
features.head()

,Unnamed: 0,date,start_station_name,start_station_id,city,zip_code,start_hour,mean_temperature_f,mean_humidity,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,weekday,isHoliday,isRushHour
0,0,2013-08-29,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",27,Mountain View,94041,10,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
1,1,2013-08-29,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",27,Mountain View,94041,9,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
2,2,2013-08-29,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",27,Mountain View,94041,9,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
3,3,2013-08-29,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",27,Mountain View,94041,10,70.0,72.0,10.0,5.0,0.0,Thursday,0,1
4,4,2013-08-29,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",27,Mountain View,94041,22,70.0,72.0,10.0,5.0,0.0,Thursday,0,0